

body{
  padding:16px 16px 60px 16px;
  font-family: 'Inter', sans-serif;
}

.padding{
  padding-top:24px;
}
@media (min-width:1440px){
  body{
    background-color: hsl(233, 8%, 79%)
  }
  .app{
    width:1200px;
    margin: auto;
    background-color: hsl(36, 100%, 99%);
    padding:60px 100px
  }

  .flex-container{
    display: flex;
  }
}




